* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  text-align: center;
  max-width: 1500px;
  font-weight: 300;
}

header {
  height: 100vh;
}

.logo {
  background-color: rgba(255, 255, 255, 0.137);
  width: 100%;
  height: 20vh;
}

.logo p {
  line-height: 20vh;
  font-family: Oswald, sans-serif;
  font-size: 60px;
  text-align: center;
}

header i {
  position: fixed;
  right: 5px;
  top: 5px;
  font-size: 30px;
  z-index: 2;
}

nav {
  position: fixed;
  left: -120%;
  top: 20vh;
  font-size: 25px;
  transition: 0.3s;
  font-family: Oswald, sans-serif;
}

nav ul {
  list-style: none;
  width: 100vw;
  background-color: rgba(10, 10, 10, 0.7);

}

nav ul li {
  line-height: 50px;
  padding: 10px;
  border-bottom: solid black 2px;
}

nav ul li:nth-child(1) {
  border-top: solid black 2px;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  transition: 0.3s;
}

.active {
  left: 0%;
}

.imgContainer {
  height: 80vh;
  background-image: url(fotos/background.jpg);
  background-size: cover;
  background-position-x: center;

}

.aboutUs img,
.saloon img {
  max-width: 80vw;
  margin-bottom: 20px;
  margin-top: 20px;
}

section,
footer {
  margin: 20px 0 20px 0;
  font-family: "Oswald", serif;
  text-align: center;
}

h1 {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 500;
}

h1:last-child {
  margin-top: 10px;
  margin-bottom: 20px;
}

table {
  text-align: left;
  margin: 0 auto;
}

table td {
  padding-right: 30px;
}

.prices img {
  margin-top: 30px;
  width: 20vw;
}

section img {
  width: 80vw;
  margin: 20px auto 0 auto;
}

section div {
  font-size: 15px;
}
.vectorArtMan{
  max-width: 15%;
}
.mappicture {
  margin-top: 20px;
}
iframe{
  margin-top: 20px;
}
@media (max-width: 300px) {
  .logo p {
    font-size: 50px;
  }
}

@media (min-width: 750px) {
  .logo p {
    font-size: 80px;
  }

  header i {
    right: 15px;
    top: 15px;
    font-size: 35px;
  }

  h1 {
    font-size: 35px;
  }

  section div {
    font-size: 25px;
  }

  section,
  footer {
    margin: 30px 30px 30px 30px;

  }

  table {
    font-size: 25px;
  }
}


@media (min-width: 1200px) {
  i.fa-bars {
    display: none;
  }

  nav {
    background-color: rgba(10, 10, 10);
    width: 100vw;
    left: 0;
    top: 0;
  }

  nav ul {
    display: flex;
    max-width: 1500px;
    background-color: transparent;
    margin: 0 auto;
  }

  nav ul li:hover a {
    color: rgb(51, 51, 170);
  }

  nav ul li {
    width: 25%;
  }

  .logo p {
    font-size: 100px;
    margin-top: 50px;
  }

  .imgContainer {
    height: calc(80vh - 50px);
  }

  section.mainInformation {
    display: flex;
    flex-direction: row;
  }

  .mainInformation img {
    max-width: 80%;
  }

  .description {
    margin: 20px;
  }

  .aboutUs,
  .saloon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .products {
    margin: 0 auto;
    max-width: 100%;
  }

  .aboutUs img {
    margin-bottom: 0px;
  }

  .prices {
    max-height: 700px;
  }

  .prices img {
    width: 200px;
  }

  .wrapperSection {
    display: flex;
    flex-wrap: wrap;
    max-height: 700px;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  footer h1 {
    font-size: 60px;
  }
.productsImgWrapper{
  display: flex;
  justify-content: space-between;
}
.productsImg{
width:
 30%;
}
.productsImg:hover {
 opacity: 90%;
}

}