* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  text-align: center;
  max-width: 1500px;
}
header {
  height: 100vh;
}
.logo {
  background-color: rgba(255, 255, 255, 0.137);
  width: 100%;
  height: 20vh;
}
.logo p {
  line-height: 20vh;
  font-family: Oswald, sans-serif;
  font-size: 60px;
  text-align: center;
}
header i {
  position: fixed;
  right: 5px;
  top: 5px;
  font-size: 30px;
  z-index: 2;
}
nav { 
  position: fixed;
  left: -100%;
  top: 20vh;
  font-size: 25px;
  transition: 0.3s;
  font-family: Oswald, sans-serif;
}

nav ul {
  list-style: none;
width: 100vw;
background-color: rgba(10, 10, 10, 0.7);

}

nav ul li {
  line-height: 50px;
  padding: 10px;
  border-bottom: solid black 2px;
}

nav ul li:nth-child(1) {
  border-top: solid black 2px;
}
nav ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;

}
.active {
  left:0%;
}
.imgContainer {
  height: 80vh;
background-image: url(fotos/background.jpg);
background-size: cover;
background-position-x: center;

}
.aboutUs img, .products img, .saloon img {
  max-width: 80vw;
  margin-bottom: 20px;
  margin-top: 20px;
}
section, footer {
  margin: 20px 0 20px 0;
  font-family: "Oswald", serif;
  text-align: center;
}
h1{
  margin-bottom: 10px;
  font-size: 25px;
}
h1:last-child{
  margin-top: 10px;
  margin-bottom: 20px;
}
table{
  text-align: left;
  margin: 0 auto;
}
table td{
  padding-right: 30px;
}
.prices img{
  margin-top: 30px;  width: 20vw;
}

section img { 
  width: 90vw;
}
section div {
  font-size: 15px;
}

@media (min-width: 750px) {
  .logo p {
    font-size: 80px;
  }
  header i {
    right: 15px;
    top: 15px;
    font-size: 35px;
  }

  h1 {
    font-size: 35px;
  }
  section div {
    font-size: 25px;
  }
  section, footer {
    margin: 30px 30px 30px 30px;

  }
table {
  font-size: 25px;
}
}


@media (min-width: 1200px) {
  .logo p {
    font-size: 100px;
  }
  header i {
    right: 15px;
    top: 15px;
    font-size: 45px;
  }
  section.mainInformation {
    display: flex;
    flex-direction: row;
  }
  .mainInformation img{
    max-width: 80%;

  }

.description{
  margin:20px;
}
.aboutUs, .products, .saloon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.aboutUs img {
  margin-bottom: 0px;
}
.prices {
  max-height: 700px;
}
.prices img{
 width: 200px;
}
.wrapperSection{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 700px;
  justify-content: center;
  align-content: center;
}
footer h1 {

  font-size: 60px;
}

nav ul {
text-align: left;
width: 30vw;
text-indent: 20px;

}
}